.app__content {
  display: flex;
  justify-content: center;
}

.app__content > div {
  padding-top: 20px;
  width: 1344px;
  display: flex;
  justify-content: space-between;
}

.conspects_menu {
  width: 20%;
  height: calc(100vh - 105px - 100px - 20px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 #00000010;
}

.editor_block {
  width: 75%;
  min-height: calc(100vh - 105px - 50px - 20px);
  max-height: calc(100vh - 105px);
  background-color: #fff;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #00000010;
}

@media (max-width: 1360px) {
  .app__content > div{
    width: calc(100% - 30px)
  }
}